<h1 id="getting-started-with-sublime-text">Getting Started with Sublime Text</h1>
<h2 id="introduction">Introduction</h2>
<p>The console is a great tool for experimentation, and we are going to continue to
use it throughout the class; however, it has some limitations:</p>
<ol>
<li><strong>Ephemeral:</strong> All the code you enter into the console goes away! There&#39;s no
way to keep it around after you close your browser, and no way to refer
back to something you wrote a while ago. When your programs get bigger, this
won&#39;t work.</li>
<li><strong>Poor Editing Capability:</strong> The console is not very good at helping you to
write code that spans multiple lines, as we soon will. We need something with
better editing capabilities.</li>
</ol>
<p>First, if you haven&#39;t yet installed a text editor like
<a href="http://www.sublimetext.com/3">Sublime Text 3</a>, now is the time. Do this before moving on.</p>
<h2 id="starter-project">Starter Project</h2>
<p>We provide a starter project that you can use for most days&#39; exercises. You can
get it by following these instructions:</p>
<p><a href="https://github.com/jalehman/rp-starter/archive/master.zip">Right click here</a>
and select &quot;Save Link As...&quot; to save the archive somewhere, <em>e.g</em> your desktop.</p>
<p>Next, unarchive the folder inside (can usually be done by just double-clicking)
and rename the new folder something like &quot;day1&quot;.</p>
<p><img src="img/starter-open.gif" alt="open starter project"></p>
<p>Now, complete the following steps:</p>
<ol>
<li>Open the folder you renamed.</li>
<li>Open the <code>main.js</code> file in Sublime Text (again, you may need to right click).
You should see the following in the file:<pre><code class="lang-js"><span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">square</span><span class="hljs-params">(x)</span> </span>{
  <span class="hljs-keyword">return</span> x * x;
}
</code></pre>
</li>
<li>Open the <code>index.html</code> file in Google Chrome (you may need to right click and
&quot;Open With...&quot;). You should see a page open in your browser that says
<strong>Welcome!</strong> at the top.</li>
<li>Open a console in the <strong>Welcome</strong> HTML page. Type <code>square(10)</code> into the
console and hit Enter -- 100 should be the result. If so, everything&#39;s
working!</li>
</ol>
<p><img src="img/starter-open-files.gif" alt="open starter files"></p>
