<div class="jumbotron">
  <h1>Lesson still brewing...</h1>
  <img class="img-responsive" src="img/brewing.gif"></img>
  <p>We admire your enthusiasm, however this lesson is under a final review from our master craftsmen. Check back soon for a release!</p>
  <a class="btn btn-primary" href="/">Back to learning!</a>
</div>
