<h1 id="fundamentals-of-programming">Fundamentals of Programming</h1>
<p><strong>Before getting started, make sure that you&#39;re familiar with the <a href="/console">Chrome Console</a>.</strong></p>
<h2 id="lesson">Lesson</h2>
<iframe src="https://docs.google.com/presentation/d/1dIf2rPBNEp6MUqTNvPfpgNy3lf2VRjg_n297cGU5re4/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<h2 id="exercises">Exercises</h2>
<h3 id="basic-requirements">Basic Requirements</h3>
<h4 id="numbers">Numbers</h4>
<ol>
<li><p>Enter the following expressions into your console.</p>
<pre><code class="lang-js"><span class="hljs-symbol">1 </span>+ <span class="hljs-number">2</span>
<span class="hljs-symbol">3 </span>* <span class="hljs-number">5</span>
<span class="hljs-symbol">5 </span>/ <span class="hljs-number">4</span> - <span class="hljs-number">13</span>
<span class="hljs-symbol">5000 </span>* <span class="hljs-number">234</span>
<span class="hljs-symbol">1073 </span>/ <span class="hljs-number">57</span> + <span class="hljs-number">200</span>
</code></pre>
</li>
<li><p>Why are the values produced by the following two expressions different? What
are they?</p>
<pre><code class="lang-js"><span class="hljs-number">3</span> + <span class="hljs-number">2</span> * <span class="hljs-number">4</span> - <span class="hljs-number">1</span>
<span class="hljs-comment">(3 + 2)</span> * <span class="hljs-comment">(4 - 1)</span>
</code></pre>
</li>
<li><p>Calculate how old you are in minutes using the console.</p>
</li>
<li><p>What is the percentage of people in the class with brown hair? Use the
console to find out.</p>
</li>
<li><p>Try the following expressions in the console:</p>
<pre><code class="lang-js"><span class="hljs-symbol">6 </span>% <span class="hljs-number">2</span>
<span class="hljs-symbol">42 </span>% <span class="hljs-number">10</span>
<span class="hljs-symbol">5 </span>% <span class="hljs-number">2</span>
<span class="hljs-symbol">6 </span>% <span class="hljs-number">3</span>
<span class="hljs-symbol">7 </span>% <span class="hljs-number">4</span>
<span class="hljs-symbol">100 </span>% <span class="hljs-number">12</span>
</code></pre>
<p>What is the significance of the result? How does the <code>%</code> (modulus) operator
work?</p>
</li>
<li><p>Try the following:</p>
<pre><code class="lang-js"><span class="hljs-symbol">3 </span>% <span class="hljs-number">2</span>
<span class="hljs-symbol">4 </span>% <span class="hljs-number">2</span>
<span class="hljs-symbol">5 </span>% <span class="hljs-number">2</span>
<span class="hljs-symbol">6 </span>% <span class="hljs-number">2</span>
</code></pre>
<p>What do the results tell you about the first operand to the modulus operator?</p>
</li>
</ol>
<h4 id="strings">Strings</h4>
<ol>
<li><p>Write a string that represents your full name.</p>
</li>
<li><p>Write a string that represents your favorite food.</p>
</li>
<li><p>Use the <code>+</code> operator to combine (known as <em>concatenation</em>) two or more
strings, <em>e.g.</em>:</p>
<pre><code class="lang-js">// Your <span class="hljs-keyword">first</span> <span class="hljs-keyword">and</span> <span class="hljs-keyword">last</span> names
<span class="hljs-string">"Josh"</span> + <span class="hljs-string">" "</span> + <span class="hljs-string">"Lehman"</span>
</code></pre>
<ul>
<li>Your first and last names (as shown above)</li>
<li>Your parents&#39; full names</li>
<li>Your home town and state</li>
</ul>
</li>
<li><p>Fix the errors in the following strings:</p>
<pre><code class="lang-js"><span class="hljs-keyword">Where</span> are <span class="hljs-literal">all</span> the quotes?
<span class="hljs-string">'hmm something is not right"
'</span><span class="hljs-keyword">Do</span> other <span class="hljs-string">' * '</span>operators work <span class="hljs-keyword">with</span> <span class="hljs-built_in">string</span> concatenation?
</code></pre>
</li>
</ol>
