<h1 id="warmup">Warmup</h1>
<h2 id="instructions">Instructions</h2>
<ol>
<li>Start a new project for today by right-clicking
<a href="https://github.com/jalehman/rp-starter/archive/master.zip">this link</a> and
&quot;Save Link As...&quot; to your Desktop (or somewhere else). Don&#39;t forget to rename
the folder to something meaningful!</li>
<li>Find a partner (preferably one that you have not yet worked with), and work
through the following exercises as a pair.</li>
</ol>
<h2 id="exercises">Exercises</h2>
<ol>
<li><p>What are at least two different types of data (values) you know?</p>
</li>
<li><p>Write an expression in the console to evaluate the percentage of people in
class who are wearing glasses today.</p>
</li>
<li><p>What&#39;s wrong with this function (there are multiple problems)?</p>
<pre><code class="lang-js">function cube <span class="hljs-keyword">x</span> {
<span class="hljs-keyword">return</span> <span class="hljs-keyword">x</span> * <span class="hljs-keyword">x</span> * y<span class="hljs-comment">;</span>
</code></pre>
<p>Fix it so that it computes the cube of x.</p>
</li>
<li><p>The polynomial identities state that the following two equations are
equivalent:</p>
<p>$${(a+b)^2 = a^2 + 2ab + b^2}$$</p>
<p>Write two functions called <code>lhs</code> and <code>rhs</code> (for left-hand side and right-hand
side) to compute each half of the above equation. Do they produce the same
result when invoked with the same arguments?</p>
</li>
</ol>
