<h1 id="warmup">Warmup</h1>
<h2 id="instructions">Instructions</h2>
<ol>
<li>Start a new project for today by right-clicking
<a href="https://github.com/jalehman/rp-starter/archive/master.zip">this link</a> and
&quot;Save Link As...&quot; to your Desktop (or somewhere else). Don&#39;t forget to rename
the folder to something meaningful!</li>
<li>Find a partner (preferably one that you have not yet worked with), and work
through the following exercises as a pair.</li>
</ol>
<h2 id="exercises">Exercises</h2>
<ol>
<li><p>What do we use arrays for? Discuss the purpose of arrays with your partner
until you are both confident that you can explain why this construct is
useful.</p>
</li>
<li><p>Create a variable called <code>numbers</code> and assign an array of numbers to it.</p>
</li>
<li><p>Write a function <code>squareAll</code> that takes an array of numbers as a parameter
and returns a <strong>new</strong> array of the input numbers squared.</p>
</li>
</ol>
