<h1 id="warmup">Warmup</h1>
<h2 id="instructions">Instructions</h2>
<ol>
<li>Start a new project for today by right-clicking
<a href="https://github.com/jalehman/rp-starter/archive/master.zip">this link</a> and
&quot;Save Link As...&quot; to your Desktop (or somewhere else). Don&#39;t forget to rename
the folder to something meaningful!</li>
<li>Find a partner (preferably one that you have not yet worked with), and work
through the following exercises as a pair.</li>
</ol>
<h2 id="exercises">Exercises</h2>
<ol>
<li><p>Fix the syntax and/or style issues with the following functions:</p>
<pre><code class="lang-js">function isHot(temperature) {
  <span class="hljs-keyword">if</span> temperature&gt;<span class="hljs-number">90</span> {
  <span class="hljs-keyword">return</span> <span class="hljs-string">"It's hot!"</span><span class="hljs-comment">;</span>
  <span class="hljs-keyword">return</span> <span class="hljs-string">"It's not hot!"</span><span class="hljs-comment">;</span>
}

function oldEnoughTo(age) {
  <span class="hljs-keyword">if</span> age &gt;= <span class="hljs-number">16</span>
  <span class="hljs-keyword">return</span> <span class="hljs-string">"Drive a car"</span><span class="hljs-comment">;</span>
  } <span class="hljs-keyword">if</span> <span class="hljs-keyword">else</span> (age &gt;= <span class="hljs-number">17</span>)<span class="hljs-comment">; {</span>
         <span class="hljs-keyword">return</span> <span class="hljs-string">"Vote"</span><span class="hljs-comment">;</span>
  <span class="hljs-keyword">else</span> (age =&gt; <span class="hljs-number">21</span>) {
<span class="hljs-keyword">return</span> <span class="hljs-string">"Drink"</span><span class="hljs-comment">;</span>
  }
  <span class="hljs-keyword">else</span> {
  <span class="hljs-keyword">return</span> <span class="hljs-string">"Do all the things!"</span><span class="hljs-comment">;</span>
  }
}
</code></pre>
</li>
<li><p>Write a function <code>sayHello</code> that takes a <em>language</em> parameter, and returns
&quot;hello&quot; in that language. Make the function work with <strong>at least three
languages</strong>.</p>
</li>
<li><p>Write a function <code>validCredentials</code> that accepts two parameters: <em>username</em>
and <em>password</em>, and returns <code>true</code> if <strong>both</strong> are long enough, and <code>false</code>
otherwise. You can decide what constitutes &quot;long enough&quot;.</p>
</li>
</ol>
