<h1 id="warmup">Warmup</h1>
<h2 id="instructions">Instructions</h2>
<ol>
<li>Start a new project for today by right-clicking
<a href="https://github.com/jalehman/rp-starter/archive/master.zip">this link</a> and
&quot;Save Link As...&quot; to your Desktop (or somewhere else). Don&#39;t forget to rename
the folder to something meaningful!</li>
<li>Find a partner (preferably one that you have not yet worked with), and work
through the following exercises as a pair.</li>
</ol>
<h2 id="exercises">Exercises</h2>
<ol>
<li><p>Write descriptions in plain English of the two steps required to solve a
problem using the style of repetition that we learned yesterday.</p>
</li>
<li><p>Complete the function <code>sumOfSquares</code> that computes the sum of all the numbers
from <code>0</code> to <code>n</code>, but where each number is <em>squared</em>.</p>
<pre><code class="lang-js"><span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">sumOfSquares</span><span class="hljs-params">(n)</span> </span>{
  <span class="hljs-comment">// <span class="hljs-doctag">TODO:</span> your code here</span>
}
sumOfSquares(<span class="hljs-number">5</span>);
<span class="hljs-comment">// =&gt; (5 * 5) + (4 * 4) + (3 * 3) + (2 * 2) + (1 * 1) + (0 * 0) =&gt; 55</span>
</code></pre>
</li>
<li><p>Write a function called <code>sumEvens</code> that works like the other summation
functions that you&#39;ve written, but only sums the <em>even</em> numbers between <code>0</code>
and <code>n</code>.</p>
</li>
</ol>
